################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mega Music School/Mega Music School/bin/Debug/netcoreapp3.1
/Mega Music School/Mega Music School/obj
